.index-header{
    box-sizing: border-box;
    width:1440px;
    /* border:1px solid red; */
    margin:0 auto;
    background-color:#fff;
}


.indexslide{
    width:100%;
    height:600px;
    background-image: url('../image/index/slide1.jpg');
    background-size: cover;
    position: relative;
    
}

.slide-left-btn{
    display:block;
    width:30px;
    height:50px;
    border:none;
    background-color: white;
    opacity: 70%;
    clip-path:polygon(50% 0, 62% 0, 13% 50%, 62% 100%, 50% 100%, 0% 50%);
    position: absolute;
    top:275px;
    left:20px;
}

.slide-right-btn{
    display:block;
    width:30px;
    height:50px;
    border:none;
    background-color: white;
    opacity: 70%;
    clip-path: polygon(38% 0,50% 0, 100% 50%, 50% 100%, 38% 100%, 88% 50%);
    position: absolute;
    top:275px;
    left:1390px;
}

.indexslide h2{
    font-size: 36px;
    position:absolute;
    top:50px;
    left:30px;

}
/*main部分*/
.indexmain{ 
    box-sizing: border-box;
    padding: 5px;
    width:1440px;
    background-color: #E0E0E0;
    margin:0 auto;
    /* border:1px solid red; */

}
/*以下是最新活動列表*/
.news{
    box-sizing: border-box;
    width:1360px;
    height:340px;
    background-color: #fff;
    margin:0 auto;
    margin-top: 50px;
    padding:20px;
    /* border:1px solid green; */
    border-radius: 5px;
    position:relative;
    display:flex;
}
.news-ol{
    width:100%;
    height:100%;
    /* border:2px solid black; */
    display:flex;
    justify-content:space-between;
}
.news-ol li{
    /* border:1px solid blue; */
    width:360px;
    height:300px;
}
.news-title{
    /*列表第一欄 最新活動的標題div*/
    width:200px;
    position:relative;

}
.news-title ::before{
    /*色bar裝飾*/
    content:"";
    display:block;
    height:120px;
    border-left: 5px solid #FBBC04;
    position:absolute;
    top:87px;
    left:21px;  
}
.news-title h2{
   
    font-size: 36px;
    color:black;
    letter-spacing:10px;
    
}
.news-title-up{
    font-size: 36px;
    color:black;
    letter-spacing:10px;
    margin-top:100px;
    margin-left:40px;
    margin-bottom: 15px;
}
.news-title-bottom{
    font-size: 36px;
    color:black;
    letter-spacing:10px;
    margin-left:40px;
}
.news-title>img{
    width:90px;
    transform:rotate(335deg);
    position:absolute;
    top:200px;
    left:20px;
   
}


.activity1{
    text-decoration: none;
    display:block;
    width:360px;
    height:300px;
    background-image: url("../image/index/newactivity1.jpg");
    background-size: cover;
    position:relative;
    
}
.activity2{
    text-decoration: none;
    display:block;
    width:360px;
    height:300px;
    background-image: url("../image/index/newactivity2.jpg");
    background-size: cover;
    position:relative;
    
}
.activity3{
    text-decoration: none;
    display:block;
    width:360px;
    height:300px;
    background-image: url("../image/index/newactivity3.jpg");
    background-size: cover;
    position:relative;
    
}
.news-ol p{
    font-size: 22px;
    position:absolute;
    bottom:30px;
    left:35px;
    text-shadow: 1px 1px 2px black;

}

.news-ol p{
    color:white;
    
}

/*客製旅遊*/
.customized{
    box-sizing: border-box;
    /* border:1px solid blueviolet; */
    width:100%;
    margin-top: 100px;
    padding:10px;
    position:relative;
}
.customized h2{
    font-size: 36px;
    width:150px;
    margin:10px auto;
    
}
.customized h2::before{
    /*客製旅遊標題的底線裝飾*/
    content:"";
    display:block;
    width:150px;
    border-bottom:5px solid #FBBC04;
    position:relative;
    top:50px;
}
.customized>p{
    margin:40px auto 20px auto;
    text-align: center;
    font-size: 24px;
}
/*客製旅遊的清單*/
.customized-ol{
    width:1140px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;

}
.customized-ol li{
    background-color: #fff;
    width:350px;
    height:500px;
    border-radius:5px;

}
/*客製旅遊的小圖*/
.customizedpic-1{
    /* border:1px solid red; */
    height:300px;
    width:300px;
    margin:25px;
    border-radius: 50%;
    background-image: url("../image/index/indexcus1.jpg");
    background-size: cover;
}
.customizedpic-2{
    /* border:1px solid red; */
    height:300px;
    width:300px;
    margin:25px;
    border-radius: 50%;
    background-image: url("../image/index/indexcus2.jpg");
    background-size: cover;

}
.customizedpic-3{
    /* border:1px solid red; */
    height:300px;
    width:300px;
    margin:25px;
    border-radius: 50%;
    background-image: url("../image/index/indexcus3.jpg");
    background-size: cover;

}
.customized-ol h3{
    font-size:24px;
    text-align:center;
    color:#FBBC04;


}
.customized-ol h3::before{
    /*小標題的底線*/
    content:"|";
    
    color:#FBBC04;


}
.customized-ol p{
    width:350px;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    line-height:2;

}
.customized a{
    text-decoration: none;
    display:block;
    width:180px;
    height:60px;
    margin:40px auto 40px auto;
    background-color: #FBBC04;
    font-size:24px;
    line-height:2.5;
    text-align: center;
    color:blue;
    border-radius: 5px;
}
.customized a:hover{
    transform:scale(1.25);
}
.airplane-icon{
    width:135px;
    height:135px;
    position:absolute;
    top:20px;
    right:10px

}
.good-icon{
    width:185px;
    height:185px;
    transform: rotate(15deg);
    position:absolute;
    left:60px;
    bottom:-60px;
}
    
.ourclient{
    width:100%;
    /* border:1px solid green; */
}
.ourclient h2{
    font-size: 36px;
    text-align:center;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:40px;
    width:180px;
    height:45px;
    border-bottom:5px solid #FBBC04;
}
.ourclient:before{

}
.ourclient-ol{
    box-sizing: border-box;
    height:350px;
    width:1370px;
    /* border:1px solid red; */
    margin:0 auto;
    margin-top: 20px;
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;



}
.ourclient-ol li{
    box-sizing: border-box;
    background-color:#D6D2C5;
    /* border:1px solid blue; */
    width:670px;
    height:350px;
    padding:10px;
    border-radius:5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
.ourclient-ol div{
    /*我們的客戶的文字方塊*/
    /* border:1px solid red; */
    width:300px;
    height:300px;

}
.ourclient-ol h3{
    font-size:32px;
    border-left:5px solid #FBBC04;
    text-align: center;

}
.ourclient-ol h3:before{
/*小標題的線段裝飾*/
}
.ourclient-ol p{
    font-size: 20px;
    width:300px;
    /* margin:0 auto; */
    /* border:1px solid black; */
    word-spacing: 2px;
    line-height: 2;
    margin-top: 20px;

}
/*我們的客戶圖案*/
.client-pic{
    display:block;
    width:300px;
    height:300px;
    border-radius: 5px;
}

/*下面是我們的故事*/
.ourstory{
    width:100%;
    /* border:1px solid green; */
    position:relative;
    margin-bottom: 50px;
    border-radius: 5px;

}
.ourstory h2{
    font-size: 36px;
    text-align:center;
    margin:0 auto;
    margin-top:100px;
    margin-bottom:40px;
    width:180px;
    height:45px;
    border-bottom:5px solid #FBBC04;
}
.ourstory h2:before{
/*標題底線裝飾*/
}
.ourstory-icon{
    width:123px;
    height:134px;
    position:absolute;
    top:-60px;
    left:190px;

}
.ourstory-upper{
    /*我們的故事上半部分*/
    box-sizing: border-box;
    width:1300px;
    height:440px;
    margin:0 auto;
    /* border:1ps solid red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #D6D2C5;
    padding:30px;

}
.ourstory-upper img{
    width:600px;
    height:400px;
    display:block;
    border-radius: 5px;   
}

.ourstory-upper div{
    width:600px;
    height:400px;
    /* border:1px solid red; */
}
.ourstory-upper h3{
    font-size: 24px;
    border-left:5px solid #FBBC04;
    text-indent: 30px;
    margin-bottom: 10px;
}
.ourstory-upper h3::before{
    
}
.ourstory-upper p{
    font-size: 18px;
    line-height: 2;
    margin-bottom: 50px;
    
}
.ourstory-bottom{
    /*我們的故事下半部分*/
    box-sizing: border-box;
    width:1300px;
    height:440px;
    margin:0 auto;
    /* border:1ps solid red; */
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background: #D6D2C5;
    padding:30px;


}
.ourstory-bottom img{
    width:600px;
    display:block;
    width:600px;
    height:400px;
    display:block; 
    border-radius: 5px;  
    
    
}

.ourstory-bottom div{
    width:600px;
    height:400px;
}
.ourstory-bottom h3{
    font-size: 24px;
    border-left:5px solid #FBBC04;
    text-indent: 30px;
    margin-bottom: 10px;
}
.ourstory-bottom h3::before{
    
}
.ourstory-bottom p{
    font-size: 18px;
    line-height: 2;
    margin-bottom: 50px;
}
